
!*.gitignore
!*/C++SemesterProjectSorry/GameWindow.cpp
!*/C++SemesterProjectSorry/GameWindow.h
!*/C++SemesterProjectSorry/SorryMain.cpp
!*/C++SemesterProjectSorry/Assets
!*/C++SemesterProjectSorry/ResourceManager.cpp
!*/C++SemesterProjectSorry/GameObject.cpp
!*/C++SemesterProjectSorry/ResourceManager.h
!*/C++SemesterProjectSorry/GameObject.h
!*/C++SemesterProjectSorry/GameManager.h
!*/C++SemesterProjectSorry/GameManager.cpp
!*/C++SemesterProjectSorry/piece.h
.vs/C\+\+SemesterProjectSorry/v16/.suo

.vs/C\+\+SemesterProjectSorry/v16/Browse.VC.db

.vs/C\+\+SemesterProjectSorry/v16/Browse.VC.db-shm

.vs/C\+\+SemesterProjectSorry/v16/Browse.VC.db-wal

.vs/C\+\+SemesterProjectSorry/v16/Browse.VC.opendb

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/18a8ab9b56964653/GAMEOBJECT.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/1c9ea86492b47715/GAMEMANAGER.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/247740b2149d3b8e/GAMEMANAGER.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/59b64daaa8b65e9c/GAMEWINDOW.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/679594eb7ae5fd64/SORRY2D.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/6f2022814f961b61/SORRY2D.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/87781aad22a129e0/SORRYMAIN.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/c0acbb6d384088db/SORRYMAIN.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/c8ab5a34b8583e83/RESOURCEMANAGER.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/d9ffc83a565e954d/GAMEWINDOW.ipch

.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/df568cd18c6606d2/GAMEMANAGER.ipch

C\+\+SemesterProjectSorry/.vs/C\+\+SemesterProjectSorry/v16/.suo

C\+\+SemesterProjectSorry/.vs/C\+\+SemesterProjectSorry/v16/Browse.VC.db

C\+\+SemesterProjectSorry/.vs/C\+\+SemesterProjectSorry/v16/ipch/AutoPCH/e97de5fdc8186d9e/SORRYMAIN.ipch

C\+\+SemesterProjectSorry/C\+\+SemesterProjectSorry.vcxproj

C\+\+SemesterProjectSorry/C\+\+SemesterProjectSorry.vcxproj.filters

C\+\+SemesterProjectSorry/x64/Debug/C\+\+Semes.63174FFE.tlog/CL.command.1.tlog

C\+\+SemesterProjectSorry/x64/Debug/C\+\+Semes.63174FFE.tlog/CL.read.1.tlog

C\+\+SemesterProjectSorry/x64/Debug/C\+\+Semes.63174FFE.tlog/CL.write.1.tlog

C\+\+SemesterProjectSorry/x64/Debug/C\+\+Semes.63174FFE.tlog/link.command.1.tlog

C\+\+SemesterProjectSorry/x64/Debug/C\+\+Semes.63174FFE.tlog/link.read.1.tlog

C\+\+SemesterProjectSorry/x64/Debug/C\+\+Semes.63174FFE.tlog/link.write.1.tlog

C\+\+SemesterProjectSorry/x64/Debug/C\+\+SemesterProjectSorry.Build.CppClean.log

C\+\+SemesterProjectSorry/x64/Debug/C\+\+SemesterProjectSorry.log

C\+\+SemesterProjectSorry/x64/Debug/C\+\+SemesterProjectSorry.vcxproj.FileListAbsolute.txt

C\+\+SemesterProjectSorry/x64/Debug/GameManager.obj

C\+\+SemesterProjectSorry/x64/Debug/GameObject.obj

C\+\+SemesterProjectSorry/x64/Debug/GameWindow.obj

C\+\+SemesterProjectSorry/x64/Debug/ResourceManager.obj

C\+\+SemesterProjectSorry/x64/Debug/SorryMain.obj

C\+\+SemesterProjectSorry/x64/Debug/vc142.idb

C\+\+SemesterProjectSorry/x64/Debug/vc142.pdb

x64/Debug/C\+\+Semes.63174FFE.tlog/C\+\+SemesterProjectSorry.lastbuildstate

x64/Debug/C\+\+Semes.63174FFE.tlog/CL.command.1.tlog

x64/Debug/C\+\+Semes.63174FFE.tlog/CL.read.1.tlog

x64/Debug/C\+\+Semes.63174FFE.tlog/CL.write.1.tlog

x64/Debug/C\+\+Semes.63174FFE.tlog/link.command.1.tlog

x64/Debug/C\+\+Semes.63174FFE.tlog/link.read.1.tlog

x64/Debug/C\+\+Semes.63174FFE.tlog/link.write.1.tlog

x64/Debug/C\+\+SemesterProjectSorry.exe

x64/Debug/C\+\+SemesterProjectSorry.ilk

x64/Debug/C\+\+SemesterProjectSorry.pdb

x64/Debug/GameWindow.obj

x64/Debug/SorryMain.obj

x64/Debug/vc142.idb

x64/Debug/vc142.pdb
